################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/.vs/S4NDMoD_vs2017/v15
