################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/.vs/S4NDMoD_vs2017/v15
/bin
/code/cgame/Debug
/code/Debug
/code/game/Debug
/code/ui/Debug
/code/cgame/Release
/code/cgame/Omnibot-Release
/code/cgame/Omnibot-Debug
/code/cgame/Global-Omni-Release
/code/cgame/Global-Omni-Debug
/code/game/Release
/code/game/Omnibot-Release
/code/game/Omnibot-Debug
/code/game/Global-Omni-Release
/code/game/Global-Omni-Debug
/code/ui/Release
/code/ui/Omnibot-Release
/code/ui/Omnibot-Debug
/code/ui/Global-Omni-Release
/code/ui/Global-Omni-Debug
